.tag {
    display: inline-block;
    padding: 4px 8px;
    background-color: #1f1f19;
    border: 1px solid #5d5d5d;
    border-radius: 4px;
    font-size: 11px;
    color: #ffffff;
    cursor: pointer;
  }


