.main_card {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: auto;
}

.header_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th {
    text-align: left;
    padding: 10px;
    background-color: #f5f5f5;
    font-size: 16px;
    font-weight: 600;
}

.table td {
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    vertical-align: middle;
}

.products_info {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinea los elementos al inicio del contenedor */
    gap: 10px; /* Espacio entre el botón y la imagen */
}

.price_item,
.item_count,
.subtotal_item {
    text-align: center;

}

.price_item {
    .original_price {
        text-decoration: line-through;
        margin-right: 5px;
      }
      .discounted_price {
        color: #ff6600;
        margin-right: 5px;
      }
}

.bottom_delete {
    cursor: pointer;
    color: #fff; /* Color del ícono dentro del botón */
    font-size: 20px;
    width: 30px;
    height: 30px;
    flex-shrink: 0; /* Evita que el botón se reduzca en tamaño */
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el ícono dentro del botón */
    border-radius: 50%; /* Forma redonda */
    margin-right: 10px; /* Espacio a la derecha del botón */
    background-color: #ccc; /* Fondo gris para el botón */
    border: 1px solid #aaa; /* Borde gris claro para el botón */
    transition: background-color 0.3s, border-color 0.3s; /* Transición suave para los cambios de color */
}

.bottom_delete:hover {
    background-color: #ea131a; /* Fondo rojo cuando el puntero está sobre el botón */
    border-color: #ea131a; /* Borde rojo cuando el puntero está sobre el botón */
}

.item_count {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    height: 30px;
   
}

.count_button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    
}

.count_display {
    padding: 0 10px;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

    .card_totals {
        padding: 20px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 1000px;
        margin: 10px;

    }

    .card_totals ul {
        list-style: none;
        padding-top: 20px;
    }

    .total {
        font-weight: bold;
        margin-top: 20px;
    }

    .checkout_button {
        background-color: #ff6600;
        /* Ajusta el color según tu preferencia */
        color: #fff;
        border: none;
        margin-top: 20px;
        width: 300px;
        height: 50px;
        
        border-radius: 5px;
        cursor: pointer;

    }

    .separator {
        border-top: 1px solid #ccc;
        /* Ajusta el color y grosor de la línea */
        margin: 10px 0;
    }

    .info_total {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        /* Alinea los elementos verticalmente */
    }

    .info_item {
        display: flex;
        justify-content: space-between;
        /* Espacia los elementos dentro del contenedor */
        margin-bottom: 8px;
        /* Espacio entre filas */
    }

    .label {
        flex: 1;
        /* Ocupa el espacio disponible a la izquierda */
    }

    .value {
        flex: 1;
        /* Ocupa el espacio disponible a la derecha */
        text-align: right;
        /* Alinea el texto a la derecha */
    }

}