

.breadcrumb {
    margin-bottom: 20px;
    font-size: 14px;
    color: #333;
}

.breadcrumb_link {
    text-decoration: none;
    color: #0070f3;
}

.breadcrumb_link:hover {
    text-decoration: underline;
}
